@import "tailwindcss";
@import "normalize.css/normalize.css";

:root {
  --background: #fff;
  --foreground: #525252;
  --font-size: 10px;
  --spacing: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #525252;
  }
}

html,
body {
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.5;
  &::-webkit-scrollbar {
    display: none !important;
  }
  scrollbar-width: 0;
}

html {
  font-size: var(--font-size, 10px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 1.5rem;
}

.noise {
  background-color: transparent;
  background-image: url("/textures/noise.webp");
  height: 100svh;
  left: 0;
  mix-blend-mode: luminosity;
  opacity: 0.1;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100svw;
  z-index: 30;
}
